*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li , a , button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 20px;
    height: 20px;
    background: black;
}
header h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    display: inline-block;
    background: black;
    padding: 10px 20px; 
    color:#ff8c1a;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 10px;
}
header h3:hover
{
    cursor: pointer;
    color: #f4f4f4;
    background: #ff8c1a ;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff8c1a , 0 0 40px #ff8c1a
    , 0 0 10px #ff8c1a;
}
.contact
{   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    display: inline-block;
    background: black;
    padding: 10px 20px; 
    color:#ff8c1a;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 10px;
}
.contact:hover
{
    cursor: pointer;
    color: #f4f4f4;
    background: #ff8c1a ;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff8c1a , 0 0 40px #ff8c1a
    , 0 0 10px #ff8c1a;
}

.logo
{
    cursor: pointer;
}

.nav__links
{
    background: black;
    list-style: none;
}

.nav__links li
{
    display: inline-block;
    padding: 10px;
    background-color: black;

}

.nav__links li a
{
    background: black;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover
{
    color: #ff8c1a;
    padding: 1rem 1rem;
}

.contact-section{
    background: url(/image/basix/background-esport.jpg) no-repeat center;
    background-size: cover;
    padding: 130px 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contact-section h1{
    text-align: center;
    color: #ddd;
}
.border{
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
}

.contact-form{
    max-width: 600px;
    margin: auto;
    padding: 0 10px;
    overflow: hidden;
}

.contact-form-text{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 16px 0;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
}
.contact-form-text:focus{
    box-shadow: 0 0 20px 5px #34495e;
}
textarea.contact-form-text{
    resize: none;
    height: 120px;
    border-radius: 10px;
}
.contact-form-btn{
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.contact-form-btn:hover{
    background: #2980b9;
}


.accept
{
    background: url(/image/basix/background-esport.jpg) no-repeat center;
    background-size: cover;
    text-align: center;
    color: #f4f4f4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 350px;
}
.accept h1
{
    border-style: solid;
    border-radius: 20px;
    border-color: #34495e;
    padding: 5px 5px;
}