*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li , a , p, button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 20px;
    height: 20px;
    background: black;
}
header h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    display: inline-block;
    background: black;
    padding: 10px 20px; 
    color:#ff8c1a;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 10px;
}
header h3:hover
{
    cursor: pointer;
    color: #f4f4f4;
    background: #ff8c1a ;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff8c1a , 0 0 40px #ff8c1a
    , 0 0 10px #ff8c1a;
}
.contact
{   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    display: inline-block;
    background: black;
    padding: 10px 20px; 
    color:#ff8c1a;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 10px;
}
.contact:hover
{
    cursor: pointer;
    color: #f4f4f4;
    background: #ff8c1a ;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff8c1a , 0 0 40px #ff8c1a
    , 0 0 10px #ff8c1a;
}

.logo
{
    cursor: pointer;
}

.nav__links
{
    background: black;
    list-style: none;
}

.nav__links li
{
    display: inline-block;
    padding: 15px;
    background-color: black;

}

.nav__links li a
{
    background: black;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover
{
    color: #ff8c1a;
    padding: 1rem 1.5rem;
    font-size: 20px;
    transition: all 0.5s ease;
}


#list
{
    padding: 20px;
    background: url(/image/basix/background-esport.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}
#list h2
{
    text-align: center;
    color: #ff8c1a;
    font-size: 1.7rem;
    padding-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.premium
{
    border-style: solid;
    margin: 50px 100px;
    border-color: #ff8c1a;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px #ff8c1a , 0 0 80px #ff8c1a
    , 0 0 20px white;
}

.all-list
{
    list-style-type: none;
    display: flex;
    margin: 20px 300px;
    justify-content: center;
    text-align:center;
}
.all-list h2
{
    list-style-type: none;
    text-align: center;
    color: #f4f4f4;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.all-list li 
{
    list-style-type: none;
    padding: 10px 450px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}
.all-list li:hover
{
    cursor: pointer;
    color: #f4f4f4;
    background: #ff8c1a ;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff8c1a , 0 0 80px #ff8c1a
    , 0 0 10px #ff8c1a;
    font-size: 1.5rem;
    padding: 8px 480px;
    transition: all 1s ease;
}
