*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* scrollbar */
#scrollpath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,1);
}  

#progressbar
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height:100%;
    background: linear-gradient(to top , #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

#progressbar::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

li , a , button{
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 20px;
    height: 20px;
    background: black;
}
header h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    display: inline-block;
    background: black;
    padding: 10px 20px; 
    color:#ff8c1a;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 10px;
}
header h3:hover
{
    cursor: pointer;
    color: #f4f4f4;
    background: #ff8c1a ;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff8c1a , 0 0 40px #ff8c1a
    , 0 0 10px #ff8c1a;
}
.contact
{   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
    display: inline-block;
    background: black;
    padding: 10px 20px; 
    color:#ff8c1a;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    transition: 0.2s;
    border-radius: 10px;
}
.contact:hover
{
    cursor: pointer;
    color: #f4f4f4;
    background: #ff8c1a ;
    border-radius: 10px;
    box-shadow: 0 0 10px #ff8c1a , 0 0 40px #ff8c1a
    , 0 0 10px #ff8c1a;
}

.logo
{
    cursor: pointer;
}

.nav__links
{
    background: black;
    list-style: none;
}

.nav__links li
{
    display: inline-block;
    padding: 15px;
    background-color: black;

}

.nav__links li a
{
    background: black;
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover
{
    color: #ff8c1a;
    padding: 1rem 1.5rem;
    font-size: 20px;
    transition: all 0.5s ease;
}


/* slide show ehlel */
.slide-show{
    background: url(/image/basix/background-esport.jpg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    margin: 50px;
    width: 900px;
    height: 600px;
    border-radius: 30px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 900px;
    height: 600px;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
    position: absolute;
    background:rgba(0,0,0,0);
    display: flex;
    width: 1000px;
    padding: 0 350px;
    margin-top: 560px;
}

.navigation-auto div{
    border: 2px solid ;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 50px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ff8c1a;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ff8c1a;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ff8c1a;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #ff8c1a;
}
/* start slide show tugsgul */

#streamer h2
{
    padding-top: 5rem;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    width: 100%;
    color: #f4f4f4;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
#streamer h2 span{
    color: #ff8c1a;

}

#game h2{
    padding-top: 5rem;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    width: 100%;
    color: #f4f4f4;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

#game h2 span{
    color: #ff8c1a;

}

/* streamer grid */

#streamer .container
{
    width: 1280px;
    min-width: 500px;
    /* padding: 1px; */
    margin: 70px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#streamer .container .box
{
    position: relative;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    display: inline-block;
}

#streamer .box .imgbox
{
    position: relative;
}

#streamer .box .imgbox img
{
    border-radius: 15px;
    max-width: 100%;
    transition: transform 2s;
}
#streamer .box:hover .imgbox img
{
    border-radius: 15px;
    transform: scale(1.1);
    transition: 0.6s ease;
}

#streamer .box .details
{
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
}
#streamer .box:hover .details
{
    transform: scaleY(1);
    transition: 0.5s ease;
}

#streamer .box .details .content
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

#streamer .box .details .content h2
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff8c1a;
}
#streamer .box .details .content p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #fff;
}

/* game grid */

#game{
    /* background: black; */
    height: 400px;
}

#game .container
{
    width: 960px;
    padding: 50px 30px;
    /* min-width: 500px; */
    /* padding: 1px; */
    margin: 70px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#game .container .box
{
    position: relative;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    display: inline-block;
    padding: 5px ;
}

#game .box .imgbox
{
    padding:  0px;
    position: relative;
}

#game .box .imgbox img
{
    margin: auto;
    border-radius: 15px;
    max-width: 100%;
    transition: transform 2s;
    height: 300px;
    width: 300px;
}
#game .box:hover .imgbox img
{
    border-radius: 15px;
    transform: scale(1.1);
    transition: 0.6s ease;
}

#game .box .details
{
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform .5s;
}
#game .box:hover .details
{
    transform: scaleX(1);
    transition: 0.5s ease;
}

#game .box .details .content
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

#game .box .details .content h2
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ff8c1a;
}
#game .box .details .content p
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #fff;
}

